/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2013, 1:18:19 PM
    Author     : Hemanth
*/

$login-button-background-gradient-color:Submitbuttonbg;//png format
$header-background-gradient-color:headerstrip;//png format
$list-gradient-colors:(rgba(255,255,255,1),rgba(246,246,246,1),rgba(237,237,237,1),#ffffff,#ededed);
$list-gradient-colors-hover:(rgba(204,204,204,1),rgba(238,238,238,1),rgba(238,238,238,1),#cccccc,#eeeeee);
@mixin background-gradient-color($color1,$color2,$color3,$startColor,$endColor) {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, $color1 0%, $color2 47%, $color3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(47%,$color2), color-stop(100%,$color3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $color1 0%,$color2 47%,$color3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color1 0%,$color2 47%,$color3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color1 0%,$color2 47%,$color3 100%); /* IE10+ */
    background: linear-gradient(to bottom, $color1 0%,$color2 47%,$color3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{$startColor}", endColorstr="#{$endColor}",GradientType=0 );
}
@mixin border-radius($radius){
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    -moz-border-top-left-radius: $radius;
    -moz-border-top-right-radius: $radius;
    -moz-border-bottom-left-radius: $radius;
    -moz-border-bottom-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
}
@mixin box-sizing-border(){
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}