/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2013, 11:38:15 AM
    Author     : ajitha
*/
@import "_constants.scss";
*{
    margin: 0;
    padding: 0;        
}
html{
    height: 100%;
    -webkit-text-size-adjust: none;
}
body{   
    width:100%;
    height:100%;
    margin: 0 auto;
    padding: 0;
    background-image: url('../img/bg.png');
    background-repeat: repeat;
    ::-webkit-scrollbar { display: none; }
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.page{
    background-image: url('../img/bg.png');
    background-repeat: repeat;     
    display: table;        
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.error{
    color: #FF0000;
    font-family: 'Arial';
    font-size: 100%;
    margin: 0 auto;
    text-align: center;    
    width: 100%;
    margin: 5px 0;
}
#loginScreen>p:last-child{
    width: 100%;
    font-family: 'Arial';
    font-size: 12px;
    color: #808080;
    float: left;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;    
}
#loginScreen{
    display: table-cell;    
    height: 100%;
    position: relative;
    vertical-align: middle;
    width: 100%; 
    text-align: center;
}
#loginScreen>div:nth-child(1){
    width: 260px;
    height: 76px;
    background-image: url('../img/EBS_Mobility.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 260px 104px;         
    margin: 0 auto;
}
#loginScreen>div:nth-child(2){
    width: 310px;
    height: 4px;
    background-image: url('../img/logoSeperator.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 310px 4px;         
    margin: 0 auto 14px auto;
}
/*form css*/
input[type="text"],input[type="password"]{
    width: 254px;
    height: 20px;
    border: 0;    
    font-family: 'Arial';
    font-size: 100%;
    line-height: 20px;
    color: #000000;     
    padding-left: 12px;
    margin: 8px 0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #555;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #555;
}
#loginScreen>div:nth-child(4){
    width: 100%;
    float: left;    
    margin: 14px auto 0;
}
#loginScreen>div:nth-child(4)>table{
    width: auto;
    border-collapse: separate;
    margin: 0 auto;
}
#loginScreen>div:nth-child(4)>table tr:nth-child(1)>td,#loginScreen>div:nth-child(4)>table tr:nth-child(3)>td{    
    width: 306px;
    height: 36px;
    border: 1px solid #cbcbcb;
    border-radius:5px;
    box-shadow: 0 0 7px 0 #C2C2C2 inset;   
    background-color: #ffffff;
}
#loginScreen>div:nth-child(4)>table tr>td>div{
    width: 45px;
    height: 36px;
    border-right: 1px solid #e2e2e2;
    background-repeat: no-repeat;
    background-position: center center;    
    float: left;
}
#loginScreen>div:nth-child(4)>table tr:nth-child(2)>td{
    height: 10px;
}
#loginScreen>div:nth-child(4)>table tr:nth-child(1)>td>div{
    background-image: url('../img/User-Icon.png');
}
#loginScreen>div:nth-child(4)>table tr:nth-child(3)>td>div{
    background-image: url('../img/Vector-Smart-Object.png');
}
/*login button css*/
#loginScreen>div:nth-child(5){
    width: 100%;
    float: left;
}
#loginScreen>div:nth-child(5)>div{
    display: table;
    margin: 0 auto;
    table-layout: fixed;
    width: 310px;
}
#loginScreen>div:nth-child(5)>div>a{
    width: 305px;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 14px;
    color: #777777;    
    text-decoration: none;
    display: block;
}
input[type="submit"]{   
    width: 308px;
    height: 36px;  
    font-family: 'Arial';
    font-size: 16px;
    color: #ffffff;    
    outline: none;
    border: 1px solid #000000;
    margin-top: 22px;
    margin-bottom: 22px;
    cursor: pointer;
    line-height: 100%;
    padding: 0 40%;
    font-weight: bold;
    -webkit-appearance: none;
    background-image: url('../img/#{$login-button-background-gradient-color}.png');
    background-repeat: repeat-x; 
    border-radius: 5px;
}
input[type="button"]:active{
    background: #f2f2f2;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input[type="submit"]:active{
    opacity: 0.5;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#login-loading{
    display: none;
    margin: 0 auto;
}
.no-result{
    color: #000000;
    display: block;
    font-size: 18px;    
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
/*notification content css start*/
#content-notify{   
    @include box-sizing-border();
    width: 100%;
    height: 100%;
    margin-top: -44px;
    padding-top: 44px;
    position: absolute;
}
/*grid css start*/
#content-notify>ul{
    position: relative;
    display: table;
    margin: 0 auto; 
    padding-top: 10px;
}
#content-notify>ul>li{      
    float: left;
    list-style: none;
    margin:  10px 15px 5px 15px;  
    cursor: pointer;    
}
#content-notify>ul>li>a{
    display: inline;
    border-radius: 5px;
}
#content-notify>ul>li>a>div{
    width: 120px;
    height: 110px;    
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center top;
}
#content-notify>ul>li:nth-child(1)>a>div{
    background-image: url('../img/approvals.png');    
}
#content-notify>ul>li:nth-child(1)>a>div:active,#content-notify>ul>li:nth-child(1)>a>div:hover{
    background-image: url('../img/approvals_glow.png') !important;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#content-notify>ul>li:nth-child(2)>a>div{
    background-image: url('../img/expenses.png');    
}
#content-notify>ul>li:nth-child(2)>a>div:active,#content-notify>ul>li:nth-child(2)>a>div:hover{
    background-image: url('../img/expenses_glow.png') !important;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#content-notify>ul>li:nth-child(3)>a>div{
    background-image: url('../img/settings.png');    
}
#content-notify>ul>li:nth-child(3)>a>div:active,#content-notify>ul>li:nth-child(3)>a>div:hover{
    background-image: url('../img/settings_glow.png') !important;  
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#content-notify>ul>li:nth-child(4)>a>div{
    background-image: url('../img/timesheet.png');    
}
#content-notify>ul>li:nth-child(4)>a>div:active,#content-notify>ul>li:nth-child(4)>a>div:hover{
    background-image: url('../img/timesheet_glow.png')  !important;    
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#content-notify>ul>li:nth-child(5)>a>div{
    background-image: url('../img/Others_Icon.png');    
}
#content-notify>ul>li:nth-child(5)>a>div:active,#content-notify>ul>li:nth-child(5)>a>div:hover{
    background-image: url('../img/Others_Icon_glow.png') !important;    
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#content-notify>ul>li>a>div>div:nth-child(2){
    width: 120px;    
    font-family: 'Arial';
    font-size: 100%;
    text-align: center;
    color: #000000;
    line-height: 123%;    
    display: table-cell;
    vertical-align: middle;
    padding-top: 84px;    
    float: left;
}
#content-notify>ul>li>a>div>div:nth-child(1){
    width: 25px;
    height: 20px;
    border:2px solid #ffffff;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    position: absolute;
    top: -10px;
    right: 10px;
    background: red;
    -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.81);
    -moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.81);
    box-shadow:         0px 0px 20px rgba(50, 50, 50, 0.81);
    font-family: 'Arial';
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    line-height: 14px;    
    font-weight: bold;
    padding-top: 5px;
}
.mg_list_type3_item > a > table tr > td:nth-child(2) > ul > li:nth-child(2){
    padding: 0;
}
.mg_list_type3_item > a > table tr > td:nth-child(1) > table{
    padding-top: 2px;
}
#header-list{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -91px;
    padding-top: 90px;
    @include box-sizing-border();
}
#header-list>ul{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -90px;
    padding-top: 90px;
    @include box-sizing-border();
}
#list-items-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
#header-list>ul{
    list-style: none;
}.stage-center{
    top: 0;
    left: 0;
}
.stage-left{
    left: -100%;
}

.stage-right{
    left: 100%;
}
.transition{
    -moz-transition-duration: .375s;
    -webkit-transition-duration: .375s;
    -o-transition-duration: .375s;
}
/*grid css end

notification content css end
list content css start
*/
.ui-list-details table tr td p{
    width: 63%;
    text-align: right;
}
.sliding-effect
{
    -webkit-transition-property:max-height;
    -webkit-transition-duration:0.8s;
    -webkit-transition-timing-function:ease-in-out;
    transition-property:max-height;
    transition-duration:0.8s;
    transition-timing-function:ease-in-out;
    max-height:0;
    overflow:hidden;
}

#popup-bckgrnd{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgba(0,0,0,0.4);
    z-index: 1000;    
    transition: opacity 1s ease-out;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-out;    
    -webkit-transition: opacity 1s ease-in; 
    display: table;
    vertical-align: middle;
}
#popup-bckgrnd>div{ 
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
#popup-bckgrnd>div>div{
    width: 80%;
    height: auto;
    position: relative;    
    margin: 0 auto;  
    font-family: 'Arial';
    font-size: 100%;
    color: #ffffff;    
    text-align: center;
    background: rgb(30,87,153); 
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);   
    background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);  
    background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);   
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );      
    border-radius: 10px;
    padding: 5px 0;
}
#popup-bckgrnd>div>div>img:nth-child(2),#AttachmentAlert>img{
    height: 24px;
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
}
#popup-bckgrnd>div>div>table{
    width: 90%;
    padding: 20px 0px;
}
#popup-bckgrnd>div>div>table tr>td{    
    font-family: 'Arial';
    font-size: 100%;
    text-align: right;
    color: #000000;
}
#popup-bckgrnd>div>div>table tr>td:nth-child(1){
    width: 50%;
}
#popup-bckgrnd>div>div>table tr>td:nth-child(1){
    width: 50%;
}
#popup-bckgrnd>div>div>table tr>td:nth-child(2){
    width: 50%;
}
#popup-bckgrnd>div>div>table tr>td:nth-child(2)>div{
    position: relative;
}
#popup-bckgrnd>div>div>div>div,#popup-bckgrnd>div>div:nth-child(1)>div,#popup-bckgrnd>div>div>div>:nth-child(3)>div,#popup-bckgrnd>div>div:nth-child(4)>div{
    width: 100%;    
    text-align: center;
}
#popup-bckgrnd>div>div>div>input,#popup-bckgrnd>div:nth-child(1)>div>input,#popup-bckgrnd>div:nth-child(3)>div>input,#popup-bckgrnd>div:nth-child(4)>div>input{
    height: 30px;  
    font-family: 'Arial';
    font-size: 95%;
    color: #000000;    
    outline: none;
    border: 1px solid #666666;    
    cursor: pointer;
    line-height: 100%;
    padding: 0 20%;
    margin: 10px 0px;
    background: rgb(228,245,252);
    background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1))); 
    background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%);  
    background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); 
    background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 );  
    border-radius: 5px;
}
#popup-bckgrnd>div>div>p:nth-child(3){   
    border-bottom: 1px solid #000000;
    padding: 10px 0px;
    text-align: center;
    float: left;
    width: 100%;
}
#popup-bckgrnd>div>div>p:nth-child(4){
    width: 95%;
    float: left;
    padding:10px;
    text-align: left;
}
#popup-bckgrnd>div>div>textarea:nth-child(5){
    width: 80%;
    height: 150px;
    margin: 0 auto;
}
#popup-bckgrnd>div>div:nth-child(4)>ul{
    width: 90%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px solid #c2c2c2;
    padding: 0;
    display: table;
    table-layout: fixed;
}
#popup-bckgrnd>div>div:nth-child(4)>ul>li{
    height:  auto;
    padding: 5px 10px;
    border-bottom: 1px solid #c2c2c2;
    font-family: 'Arial';
    font-size: 100%;
    color: #000000;
    list-style: none;
    text-align: left;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    background: rgb(255,255,255);  
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);   
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));  
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);  
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);  
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); 
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
#popup-bckgrnd>div>div:nth-child(4)>ul>li>span{
    color: #F53F3F;
}
#popup-bckgrnd>div>div:nth-child(4)>ul>li:last-child{
    border-bottom: 0;
}
#popup-bckgrnd>div>div:nth-child(4)>ul>li>a{
    padding-left: 5px;
    text-decoration: underline;
    color: #3399cc;
    position: relative;
}
.popup-hide{
    display:none !important;
}
.ui-popup-show{    
    opacity: 1;
}
/*Action Footer*/
#ActionFooter{
    width: 100%;
    background: rgb(197,222,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,222,234,1)), color-stop(31%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
    position: fixed;
    bottom: 0;    
    z-index: 1;   
    right: 0;
}
#ActionFooter>div{
    width: 35px;
    height: 35px;
    background-image: url('../img/down.png');
    background-size: 35px 35px;   
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute; 
    right: 5px;
    top: 5px;    
    z-index: 1;
    cursor: pointer;
}
#ActionFooter>div:active{
    background-color: #c2c2c2;
}
#ActionFooter>table{
    width: 100%;   
}
#ActionFooter>table tr>td{
    width: 100%;
    list-style: none;
    float: left;    
    text-align: center;
}
#ActionFooter>table tr>td>a>input{
    height: 30px;
    padding: 0 20%;
    font-family: 'Arial';
    font-size: 95%;
    color: #000000;    
    outline: none;
    border: 1px solid #666666;    
    cursor: pointer;
    line-height: 95%;    
    margin: 10px auto;
    background: rgb(204,204,204); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY4JSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 68%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(68%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 68%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 68%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 68%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 68%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
    border-radius: 5px;    
}
#search{
    background-color: #FFFFFF;
    border-bottom: 1px solid #C2C2C2;
    display: table;
    height: 46px;    
    width: 100%;
    position: relative;
    z-index: 999;
}
#search>div:nth-child(1){
    background-image: url("../img/iconsSearch.png");
    background-position: 8px center;
    background-repeat: no-repeat;
    border: 1px solid #C2C2C2;
    @include border-radius(17px);
    box-shadow: 0 0 7px 0 #C2C2C2 inset;
    display: inline-block;
    float: left;
    height: 19px;
    margin-top: 5px;
    padding: 8px 30px;
    width: 55%;
    margin-left: 5px;
}

#search>div:nth-child(1)>input[type="search"]{
    border: 0;    
    width: 100%;
    height: 19px;    
    font-size: 105%;
    font-family: 'Arail';
    outline: none;
}
#search>div:nth-child(2),#search>div:nth-child(3){
    background-image: url('../mobiBundle/images/header/mg_right_button_background.png');
    background-size: 60px 35px;
    background-position: center center;
    display: inline-block;
    float: right;
    height: 35px;
    line-height: 35px;
    margin-top: 6px;
    width: 60px;
    text-align: center;
    font-size: 96%;
    font-family: 'Arial';
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
    color: #5F6065;
    font-weight: bold;
    margin-right: 5px;
    position: relative;    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#search>div:nth-child(2):active,#search>div:nth-child(2):hover,#search>div:nth-child(3):active,#search>div:nth-child(3):hover{
    color: #3399cc;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#mg_ui-tab-content{
    margin-top: -143px;
    padding-top: 143px;
}
/*New Header List end*/
/*list details tab start*/
#header-details{
    width: 100%;
    @include background-gradient-color(nth($list-gradient-colors, 1),nth($list-gradient-colors, 2),nth($list-gradient-colors, 3),nth($list-gradient-colors, 4),nth($list-gradient-colors, 5));        
    right: 0;    
    height: 100%;
    @include box-sizing-border();
    padding-top: 44px;
    margin-top: -44px;
    position: absolute;
}
#header-details>div:nth-child(1){
    height: 30px;
    width: 100%;
}
#header-details>div:nth-child(2){
    height: 20px;
    width: 100%;    
    margin-top: -10px;
}
#header-details>div:nth-child(2)>span:nth-child(1){
    color: #0000A8;
    float: left;
    font-family: 'Arial';
    font-size: 100%;
    font-weight: normal;
    padding-left: 19px;    
    text-align: left;
}
#header-details > p {
    color: #000000;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 14px;
    padding-left: 19px;
    margin-top: 2px;
}
#header-details>div:nth-child(1){
    padding-top: 5px;
}
#header-details>div:nth-child(1)>p{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-family: 'Arial';
    float: left;
}
#header-details>div:nth-child(1)>p:nth-child(1){
    font-size: 100%;
    color: #3399cc;
    text-align: left;
    padding-left: 19px;
    float: left;
}
#header-details>div:nth-child(1)>p:nth-child(2){
    font-size: 130%;
    color: #000000;
    font-weight: bold;
    text-align: right;
    padding-right: 19px;
    float: right;
}
#header-details>div:nth-child(1)>p:nth-child(2)>span{
    font-size: 12px;
    font-weight: normal;
    display: block;
    line-height: 10px;
}
#list-items-container>table{
    width: 90%;
    background: #3399cc;
    margin: 0 auto;
    padding:  10px 0;
    color: #ffffff;
    text-align: center;
    font-family: 'Arial';
    font-size: 95%;
}
#list-items-container>table tr>td:nth-child(1),#list-items-container>ul>li>table tr>td:nth-child(1) {
    width: 15%;
}
#list-items-container>table tr>td:nth-child(2),#list-items-container>ul>li>table tr>td:nth-child(2){
    width: 25%;
}
#list-items-container>table tr>td:nth-child(3),#list-items-container>ul>li>table tr>td:nth-child(3){
    width: 25%;
}
#list-items-container>table tr>td:nth-child(4),#list-items-container>ul>li>table tr>td:nth-child(4){
    width: 35%;
}

#list-items-container>ul{
    width: 100%;
}
#list-items-container>ul>li{
    list-style: none;
    width: 90%;    
    margin: 0 auto;   
    @include background-gradient-color(nth($list-gradient-colors, 1),nth($list-gradient-colors, 2),nth($list-gradient-colors, 3),nth($list-gradient-colors, 4),nth($list-gradient-colors, 5));
}
#list-items-container>ul>li:nth-child(1){
    border-top: 0;
}
#list-items-container>ul>li>table{
    width: 100%;
    height: 20px;    
    border-bottom: 1px solid #c2c2c2;
    padding:  5px 0;
    @include background-gradient-color(nth($list-gradient-colors, 1),nth($list-gradient-colors, 2),nth($list-gradient-colors, 3),nth($list-gradient-colors, 4),nth($list-gradient-colors, 5));
}
#list-items-container>ul>li>table tr:nth-child(2)>td{
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;    
    font-size: 70%;
    color: #5F6065; 
}
#list-items-container>ul>li>table tr>td{    
    height: 50%;    
    font-family: 'Arial';
    font-size: 90%;
    color: #000000;
    text-align: center;
}
#list-items-container>ul>li>div{
    width: 100%;
    height: auto;               
    margin: 0 auto;
}
#list-items-container>ul>li>div>ul:nth-child(1){
    width: 94%;    
}
#list-items-container>ul>li>div>table:nth-child(2){
    background-color: #3399CC;
    color: #FFFFFF;
    font-family: 'Arial';
    font-size: 90%;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    width: 96%;    
}
#list-items-container>ul>li>div>table:nth-child(2) tr>td{
    width: 25%;
}
#list-items-container>ul>li>div>ul:nth-child(3){
    width: 96%;  
    margin: 0 auto 5px auto;
    border: 1px solid #c2c2c2;
    @include box-sizing-border();
}
#list-items-container>ul>li>div>ul:nth-child(3)>li{
    border-bottom: 1px solid #c2c2c2;
}
#list-items-container>ul>li>div>ul:nth-child(3)>li:last-child{
    border: 0;
}
#list-items-container>ul>li>div>ul:nth-child(3)>li>table{
    width: 100%;
    font-family: 'Arial';
    font-size: 90%;
    text-align: center;
}
#list-items-container>ul>li>div>ul:nth-child(3)>li>table tr>td{
    width: 25%;
}
#list-items-container>ul>li>div>ul:nth-child(1){
    padding:0 1% 0 5%;
}
#list-items-container>ul>li>div>ul>li{
    padding: 5px 0;
    font-family: 'Arial';
    font-size: 90%;
    color: #5F6065;
    text-align: left;
    list-style: none;
}
#list-items-container>ul>li>div>ul>li>span{
    display: inline;
}
#list-items-container>ul>li>div>ul>li>span:nth-child(2){
    font-weight: bold;
}
#list-items-container>ul>li>div>ul:nth-child(2)>li>table{
    width: 100%;
    text-align: center;
    font-size: 100%;
    font-family: 'Arial';
    color: #5F6065;
    border: 1px solid #c2c2c2;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
#header-details-container,#history-details-container{
    margin: 10px auto;
}
#header-details-container>ul,#history-details-container>ul{
    width: 94%;    
    margin: 0 auto;
}
#header-details-container>ul>li{
    width: 100%;
    padding: 5px 0;
    font-family: 'Arial';
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    list-style: none;
}
#header-details-container>ul>li>span{
    display: block;
    line-height: 18px;
}
#header-details-container>ul>li>span:nth-child(2){
    font-weight: bold;
}
#history:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 10px;    
    margin-left: 127px;
}
#history{
    height: auto;
    padding: 10px 0;
}
#history-details-container>ul>li{
    width: 100%;    
    font-family: 'Arial';
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    list-style: none;
}
#history-details-container>ul>li>table{
    @include background-gradient-color(nth($list-gradient-colors, 1),nth($list-gradient-colors, 2),nth($list-gradient-colors, 3),nth($list-gradient-colors, 4),nth($list-gradient-colors, 5));
    color: #000000;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
    padding: 5px 0;
    font-size: 90%;
}
#history-details-container>ul>li>table tr>td{
    width: 50%;
}
#history-details-container>ul>li>table tr:nth-child(1)>td:nth-child(1){
    color: #3399CC;
    font-weight: bold;
}
#history-details-container>ul>li>table tr:nth-child(1)>td:nth-child(2){
    font-size: 15px;
}
#loading-screen{
    display:table;
    width:100%;
    height:100%;
    position:absolute;
}
#loading-screen>div{
    display:table-cell;
    width:100%;
    height:100%;
    vertical-align:middle;
}
#loading-screen>div>div{
    width: 43px;
    height: 43px;
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;    
}
.loading-hide{
    display: none !important;
}
.show{
    display: block;
}
/*list details tab end*/
/*filter css*/
#filter{
    height: auto;
    width: 100%;
    margin: 0 auto;
    border: 0 none !important;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
    @include box-sizing-border();
    position: absolute;
    margin-top: -47px;
    padding-top: 44px;
    height: 100%;    
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}
.filter-full-view{
    padding-top: 90px;
    margin-top: -90px;
}
#filter>p:nth-child(1){
    padding-top: 5px;
}
#filter>p{
    width: 100%;
    margin: 6px 0;
    font-size: 100%;
    color: #000000;
    font-family: 'Arial';
    float: left;    
}
input[type=checkbox] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: transparent;    
    border: 1px solid rgb(195,196,198);
}
#filter>ul>li>div label:before {
    @include border-radius(3px);
}
input[type=checkbox]:checked + label:before {
    content: " ";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background-color: #001d6d;
}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px; 
    line-height: 21px;
    font-size: 100%;
    font-family: 'Arial';
    color: #000000;
}
#filter>ul{
    width: 99%;
    float: left;
    border: 1px solid #000000;
    @include border-radius(5px);
    font-weight: bold;
    background-color: #ffffff;
}
#filter>ul>li{
    width: 96%;
    padding: 6px 2%;
    list-style: none;
    border-bottom: 1px solid #000000;
}
#filter>ul>li:last-child{
    border: 0;
}
#filter>ul>li>label{
    font-family: 'Arial';
    font-size: 100%;
    color: #000000;
    padding-left: 10px;
}
#filter>div{
    width: 95%;
    height: 20px;
    position: relative;
    font-family: 'Arial';
    font-size: 100%;
    color: #000000;
    text-align: left;
    line-height: 20px;
    float: left;
    padding: 6px 2%;
    border: 1px solid #000000;
    @include border-radius(5px);
    background-color: #ffffff;
}
#filter>div:last-child{
    margin-bottom: 10px;
}
#filter>div>div{
    width: 96%;
    height: 20px;
    position: absolute;
}
#filter>div>select{
    width: 98%;
    height: 32px;
    position: absolute;
    opacity: 0;   
    top: 0;
}
#filter>div>img{
    height: 12px;
    position: absolute;
    right: 9px;
    top: 9px;    
}
/*filter css end*/
#popup-bckgrnd>div>div>table tr>td:nth-child(2)>div{
    width: 96%;
    height: 20px;
    position: relative;
    font-family: 'Arial';
    font-size: 100%;
    color: #000000;
    text-align: left;
    line-height: 20px;
    float: left;
    padding: 6px 2%;
    border: 1px solid #000000;
    @include border-radius(5px);
    margin-left: 10px;    
}
#popup-bckgrnd>div>div>table tr>td:nth-child(2)>div>div{
    width: 96%;
    height: 20px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#popup-bckgrnd>div>div>table tr>td:nth-child(2)>div>select{
    width: 98%;
    height: 32px;
    position: absolute;
    opacity: 0;   
    top: 0;
    left: 0;
}
#popup-bckgrnd>div>div>table tr>td:nth-child(2)>div>img:nth-child(2){
    height: 12px;
    position: absolute;
    right: 5px;
    top: 10px;
}
.filter-button-done{
    background-image: url("../img/searchbutton.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 48px 35px;
    color: #5F6065;
    display: block;
    float: right;
    font-family: 'Arial';
    font-size: 96%;
    font-weight: bold;
    height: 35px;
    line-height: 35px;    
    margin-top: 6px;
    position: relative;
    text-align: center;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    width: 52px;
}
@media only screen and (min-width:800px) and (-webkit-min-device-pixel-ratio: 1.0) ,only screen and (-o-min-device-pixel-ratio: 10/10){
    #content-notify > ul > li > a > div{        
        background-size: 120px 120px;
        height: 150px;        
        width: 120px;        
    }    
    #loginScreen > div:nth-child(1) {        
        background-size: 360px 144px;   
        height: 120px;
        width: 360px;
    }
    #content-notify > ul > li > a > div > div:nth-child(1) {        
        right: -15px; 
        top: -15px;    
        height: 35px;
        line-height: 35px;    
        width: 35px;
        font-size: 18px;
        border: 3px solid #FFFFFF;
    }
    #content-notify > ul > li > a > div > div:nth-child(2) {
        padding-top: 124px;
    }

    #content-notify {
        padding-top: 50px;        
    }
    #content-notify > ul{
        width: 100%;
    }
    #content-notify > ul > li > a > div{
        margin: 0 auto;
    }                
}
@media only screen and (min-width:800px) and (-webkit-min-device-pixel-ratio: 1.0) and (orientation : landscape) ,only screen and (-o-min-device-pixel-ratio: 10/10) and (orientation : landscape) {
    #content-notify > ul > li {  
        width: 33.33333%;
        margin: 10px 0 60px;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px),only screen and (min-height:791px){    
    #filter > div {
        width: 95%;
    }
    #filter > ul{
        width: 99%;
    }
    #content-notify > ul > li > a > div{        
        background-size: 120px 120px;
        height: 150px;        
        width: 120px;        
    }    
    #loginScreen > div:nth-child(1) {        
        background-size: 360px 144px;        
        width: 310px;
        height: 120px;
    }
    #content-notify > ul > li > a > div > div:nth-child(1) {        
        right: -15px; 
        top: -15px;
        height: 35px;
        line-height: 35px;    
        width: 35px;
        font-size: 18px;
        border: 3px solid #FFFFFF;
    }
    #content-notify > ul > li > a > div > div:nth-child(2) {
        padding-top: 124px;
    }

    #content-notify {
        padding-top: 50px;        
    }

    #content-notify > ul{
        width: 100%;
    }
    #content-notify > ul > li > a > div{
        margin: 0 auto;
    }           
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait),only screen and (min-height:791px) and (orientation : portrait){
    #content-notify > ul > li {  
        width: 50%;
        margin: 10px 0 80px !important;
    }
    #search > div:nth-child(1){
        width: 35%;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #content-notify > ul > li {  
        width: 33.33333% !important;
        margin: 10px 0 60px;
    }
    #search > div:nth-child(1){
        width: 50%;
    }
}
@media
only screen and (max-width:320px)  and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1.0)
,only screen and (-o-min-device-pixel-ratio: 10/10),
only screen  and (max-width:640px)  and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2.0)
,only screen and (-o-min-device-pixel-ratio: 20/10),
only screen and (min-width :321px) and (max-width:720px)
and (-webkit-min-device-pixel-ratio: 2.0) and (orientation: portrait) ,only screen and (-o-min-device-pixel-ratio: 20/10) 
and (-webkit-min-device-pixel-ratio: 3.0),only screen and (-o-min-device-pixel-ratio: 30/10){    
    #content-notify > ul {
        width: 100%;
    }
    #content-notify > ul > li {
        margin: 10px 0 20px;
        width: 50%;
    }
    #content-notify > ul > li > a > div{        
        margin: 0 auto;        
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 1.0),
only screen and (min-device-width: 320px) and (max-device-height: 568px)and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2),
only screen and (min-width :321px) and (max-width:720px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
screen and (orientation:landscape)  and (-webkit-device-pixel-ratio:3){
    #content-notify > ul > li {
        margin: 10px 0 20px;
        width: 33.33333%;
    }
    #content-notify > ul > li > a > div{        
        margin: 0 auto;        
    }
}